.toc-list {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;

}
.toc-list-item {
  margin-top: 1.5rem;
  color: var(--text-80, rgba(16, 71, 95, 0.8));

  /* PC/16/16 - R */
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
 
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

@media (max-width: 639px) {
  .toc-list-item {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
  }
}
