:root {
  --header-bg: #ffffff;
  --header-color: #10475fcc;
}
.transparent {
  --header-bg: #06000000;
  --header-color: #ffffff;
}

.transparent .logo-white {
  opacity: 1;
}
.transparent .logo-dark {
  opacity: 0;
}
.logo-dark {
  opacity: 1;
}
